<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header th:fragment="header">
      <div class="container navbar">
        <div class="logo">
          <a th:href="|${contextPath}/|">Color Run</a>
        </div>
        <ul class="nav-links">
          <li><a th:href="|${contextPath}/|">Accueil</a></li>
          <li><a th:href="|${contextPath}/courses|">Courses</a></li>

          <!-- Liens pour utilisateur non connecté -->
          <li th:if="${sessionUser == null}">
            <a th:href="|${contextPath}/login|">Connexion</a>
          </li>
          <li th:if="${sessionUser == null}">
            <a th:href="|${contextPath}/register|">Inscription</a>
          </li>

          <!-- Liens pour utilisateur connecté -->
          <li th:if="${sessionUser != null}">
            <a th:href="|${contextPath}/participations|">Mes Participations</a>
          </li>

          <!-- Liens pour organisateur -->
          <li
            th:if="${sessionUser != null and #lists.contains(sessionUserRoles, 'ORGANISATEUR')}"
          >
            <a th:href="|${contextPath}/organisateur/courses|">Mes Courses</a>
          </li>

          <!-- Liens pour admin -->
          <li
            th:if="${sessionUser != null and #lists.contains(sessionUserRoles, 'ADMIN')}"
          >
            <a th:href="|${contextPath}/admin/organizer-requests|">Demandes</a>
          </li>

          <!-- Profil et déconnexion -->
          <li th:if="${sessionUser != null}" class="dropdown">
            <a href="|${contextUrl}/profile|" th:text="${sessionUser.prenom}">User</a>
            <div class="dropdown-content">
              <a th:href="|${contextPath}/profile|">Profil</a>
              <a th:href="|${contextPath}/logout|">Déconnexion</a>
            </div>
          </li>
        </ul>
      </div>
    </header>
  </body>
</html>
